.Landing-page{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20%;
    margin: auto;
    text-align: center;
    height: 97vh;
}
.About-us{
    text-align: center;
    padding: 0pt;
}
.image{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    padding: 20%;
    text-align: center;
}
.WHAT{
    text-align: center;
    padding: 0ch;
    background-image: url
}
.DES{
    text-align: center;

}